
body{
    background-color:whitesmoke;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    min-height: 100vh;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.form{
    background-color: #fff;
    padding: 6rem;
    border-radius: .5rem;
    box-shadow: 1px solid black;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.password-display{
    background-color: white;
    color: #333;
    padding: 1rem;
    border: 2px dotted lightgray;
    height: 4rem;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
    border-radius: .5rem;
}

.containr-1{
    border-bottom: 1px solid lightgray;
    border-top: 1px solid lightgray;
    margin-bottom: 5px;
    padding-top: 10px;
}

.btn{
    border-radius: 20px;
}

.btn1{

    border: none;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 12px;
    background-color: #006699;
    margin-left: 250px;
    position: absolute;
    margin-top: -210px;
    margin-left: 585px;
    
}


.main-container{
    border: 2px solid #ccc;
    width: 700px;
}


.btn1:disabled{
    cursor: no-drop;
    background: #ccc;
    
}

.btn1:hover:enabled {
    background-color: #ccc;
    transform: scale(1.1);
    transition: transform .4s ease;
    
  } 



  